{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Sélection d'attributs</h2>

    {% if alert_message %}
    <div class="alert alert-{{ alert_type }}" role="alert">
        {{ alert_message }}
    </div>
    {% endif %}

    <form id="featureSelectionForm" method="post" action="{% url 'feature_selection' %}">
        {% csrf_token %}

        <!-- Choisir un dataset -->
        <div class="form-group">
            <label for="dataset">Choisir un dataset :</label>
            <select class="form-control" id="dataset" name="dataset">
                {% for dataset in datasets_info %}
                    <option value="{{ dataset.id }}" data-max-features="{{ dataset.num_columns }}">{{ dataset.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Choisir un algorithme -->
        <div class="form-group">
            <label for="algorithm">Choisir un algorithme de sélection d'attributs :</label>
            <select class="form-control" id="algorithm" name="algorithm">
                <option value="xgboost">XGBoost</option>
                <option value="sfs">Sequential Feature Selector (SFS)</option>
                <option value="lasso">LASSO</option>
                <option value="relief">Relief</option>
            </select>
        </div>

        <!-- Champ conditionnel pour le nombre de caractéristiques -->
        <div class="form-group" id="k_div" style="display: none;">
            <label for="k">Nombre de caractéristiques (seulement pour SFS et LASSO) :</label>
            <input type="number" class="form-control" id="k" name="k" value="10">
        </div>

        <!-- Nombre de caractéristiques à afficher -->
        <div class="form-group">
            <label for="num_features">Nombre d'attributs à afficher :</label>
            <input type="number" class="form-control" id="num_features" name="num_features" value="10" min="1">
        </div>

        <!-- Bouton pour soumettre le formulaire -->
        <button type="submit" class="btn btn-primary">Lancer l'algorithme</button>

    </form>
    <a href="{% url 'create_model' %}" class="btn btn-primary">Retour</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const datasetSelect = document.getElementById('dataset');
        const algorithmSelect = document.getElementById('algorithm');
        const kInput = document.getElementById('k');
        const numFeaturesInput = document.getElementById('num_features');

        // Définir la valeur par défaut de numFeatures en fonction du dataset sélectionné
        function setDefaultNumFeatures() {
            const selectedOption = datasetSelect.selectedOptions[0];
            if (selectedOption) {
                const maxFeatures = selectedOption.getAttribute('data-max-features');
                numFeaturesInput.value = maxFeatures;
                numFeaturesInput.max = maxFeatures;
            }
        }

        // Appeler cette fonction lorsque le dataset change
        datasetSelect.addEventListener('change', function() {
            localStorage.setItem('dataset', this.value);
            setDefaultNumFeatures();
        });

        if (localStorage.getItem('dataset')) {
            datasetSelect.value = localStorage.getItem('dataset');
            setDefaultNumFeatures();
        }

        if (localStorage.getItem('algorithm')) {
            algorithmSelect.value = localStorage.getItem('algorithm');
            toggleKField(localStorage.getItem('algorithm'));
        }

        algorithmSelect.addEventListener('change', function() {
            localStorage.setItem('algorithm', this.value);
            toggleKField(this.value);
        });

        function toggleKField(algorithm) {
            const kDiv = document.getElementById('k_div');
            if (algorithm === 'sfs' || algorithm === 'lasso') {
                kDiv.style.display = 'block';
            } else {
                kDiv.style.display = 'none';
            }
        }

        setDefaultNumFeatures(); // Définir la valeur par défaut lors du chargement de la page
    });
</script>
{% endblock %}
